- name: Clone GitHub repo on Azure server with public IP
  hosts: {{ip1}}
  gather_facts: yes
  become: yes


  tasks:
    - name: Install GIT
      apt:
        name: git
        state: present
        update_cache: yes

    - name: Remove existing /var/www/html directory
      file:
        path: /var/www/html
        state: absent

    - name: Clone GitHub repository
      ansible.builtin.git:
        repo: {{reponame}}
        dest: /var/www/html/
        update: yes