---
- name: Install and configure PostgreSQL
  hosts: 192.168.33.{{ ip3 }}
  become: yes

  tasks:
    - name: Install PostgreSQL and PostgreSQL server packages
      dnf:
        name: "{{ item }}"
        state: present
      loop:
        - postgresql
        - postgresql-server