#!/bin/bash

ansible-playbook -i /home/vagrant/config/ansible/hosts /home/vagrant/config/{{clientname}}/update.yml
ansible-playbook -i /home/vagrant/config/ansible/hosts /home/vagrant/config/{{clientname}}/install-mariadb.yml
ansible-playbook -i /home/vagrant/config/ansible/hosts /home/vagrant/config/{{clientname}}/configure-mariadb.yml
